.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.CardHolder {
  width: 80%;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}
