.App {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.CardHolder {
  width: 80vw;
  height: 50vh;
  /* align-items: center; */
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}

.docTitle {
  position: absolute;
  font-size: xx-large;
  top: 10%;
}
